<section id="about">
   <div class="row bio-container">
     <div class="twelve columns bio-inner">
      <div class="six columns bio-left">
        <div class="pp-container">
            <a href="{{blog.url}}"><img class="profile-pic wow zoomIn"  src="{{blog.url}}public/content/{{blog.logo}}" alt="{{blog.title}} logo" /></a>
            <h2>{{blog.title}}</h2>
            <h3>{{blog.description}}</h3>
        </div>
      </div>
      <div class="six columns main-col wow fadeIn">
       <div class="arrow-left"></div>
       <h2><span>About the author</span></h2>
       <blockquote>{{blog.authors.admin.bio}}
       <cite>{{blog.authors.admin.name}}</cite>
       </blockqoute>
       <div class="row">
         <div class="twelve columns center">
           <p>&nbsp;</p>
         </div>
       </div>
       <div class="row">
         <div class="twelve columns center">
           <p>
             <a class="button" href="http://matteomerola.me" style="color: #fff"><i class="fa fa-home"></i> Go to site</a>
           </p>
         </div>
       </div>
      </div>
   </div>
   </div>
</section>
