<div id="important-notice">
  <p>Hey there! I have an important news... Click <a href="{{blog.url}}2016/04/I-moved-to-Berlin" title="Go to the important news">here</a> to read it.<span id="notice-close-btn"><a href="#">x</a></span></p>
</div>

<nav id="m-nav" class="opaque" style="display: block;">
  <a class="mobile-btn" href="#m-nav" title="Show navigation">Show navigation</a>
  <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
   <ul id="nav" class="nav">
     {{#each blog.navigation}}
      <li class=""><a href="{{url}}">{{label}}</a></li>
     {{/each}}
   </ul>
</nav>
