<!DOCTYPE html>
<html lang="en">
  <head>
    {{> metas}}

    <title>{{blog.title}} - Articles</title>

    {{> imports}}
  </head>

  <body>

    {{> nav}}
    <div class="container">
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="height: 550px; overflow-y: scroll;">
            <ul class="list-group">
              {{#each links}}
              <li class="list-group-item">
                <p class="list-group-item-text">{{name}}</p>
                <a href="{{blog.url}}admin/edit/{{year}}/{{month}}/{{day}}/{{name}}" class="btn btn-primary btn-xs edit" role="button">Edit</a>
                <button type="button" url="{{url}}" class="btn btn-default btn-xs preview">Preview</button>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <iframe id="preview" src="" style="width: 100%; height: 550px;"></iframe>
        </div>
      </div>
    </div>


    {{> javascripts}}
    <script>
    $(document).ready(function() {
      var preview = $("#preview");
      $(".preview").on('click', function() {
        preview.attr("src", $(this).attr('url'));
        return false;
      });
    });
    </script>
  </body>
</html>
